<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    
        <div class="container">
            <h1>Latest Mars News</h1>
            <h2>{{data.title}}</h2>
            <p>{{data.paragraph}}</p>
        </div>

    
    <div class="container">
        <h1>Featured Mars Image</h1>
        <img src={{data.image}} class="img-fluid" alt="oops">
      </div>
      <div class="container">
        <a>{{data.facts | safe}}</a>
      </div>   
    <div class="container text-center">
      <h1 class="jumbotron">Mars Hemispheres</h1>
      <div>
          {% for item in data.hemispheres %}
          <div class="col-lg-4">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">{{ item.title }}</h4>
                    <img src='{{item.url}}' class="img-fluid" alt="...">
                  </div>
                </div>
            </div>
            {% endfor %}

      </div>
    </div>
  </body>

</html>